html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0ch;
}
#app{
  min-width: 1366px;
}
.el-cascader-panel .el-cascader-menu {
  height: 300px;
}
.el-step__title  {
  font: 14px "华文行楷";
}
.ql-editor{
  min-height: 300px;
}
